<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><strong>Let's Get In Touch!</strong></h2>
                <hr class="small">
                <p>Interested in working together?</p>
                <ul class="list-inline">
                    <li>
                        <a href="mailto:forsts@gmail.com">
                            <div class="fa fa-envelope-o fa-3x sr-icons"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/chi-su-210b13104/" target="_blank">
                            <div class="fa fa-linkedin-square fa-3x sr-icons"></div>
                        </a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; ChiSuArt 2017</p>
            </div>
        </div>
    </div>
</section>
