<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 class="header-text">Chi Su</h1>
        <h3 class="header-text">3D Artist</h3>
        <br>
        <div>
            <a href="#about" style="margin-right:10px" class="btn btn-dark btn-lg">About Me</a>  
            <a href="#uiux" style="margin-right:10px" class="btn btn-dark btn-lg">UI/UX</a>
            <a href="#3d" class="btn btn-dark btn-lg">3D</a>
        </div>
    </div>
</header>