<!-- Portfolio -->
<section id="portfolio" class="portfolio">
<!--     <%- partial('projects' ,{
        section_title: "UI/UX Projects", 
        category:"UIUX",
        button_name: "Case Study"
    }) %> -->
    <%- partial('projects' ,{
        section_title: "Projects", 
        category:"3D",
        button_name: "Gallery"
    }) %>
</section>