<% 
//this is only for UIUX works
if(is_post()){ %>
	<section>
	    <div class="fixed-container">
	    	<div class="row">
	    		<div class="col-xs-12">
		    		<%- page.content %>
	    		</div>
	    	</div>
	    </div>
	    <div id="push"></div>
	</section>
	<footer id="copy-right">
    	<div class="text-muted text-center">Copyright &copy; ChiSuArt 2017</div>
	</footer>
<%}%>

