$topspacing: 40px;

#portfolio-gallery {
    // background-color: rgba(0, 0, 0, .050);
    min-height: 100%;
    section {
    	min-height: 100%;
    	margin-bottom: -70px;
    }
    #right-column {
    	a.btn {
    		margin-top: 30px;
    	}
    }
    #description {
    	h2 {
    		margin: 0px 0px 20px 0px;
    	}
    	margin-top: $topspacing;
    }
}

#video-gallery {
	margin-top: $topspacing;
}

#push {
	height: 80px;
}

#copy-right {
	height: 50px;
	line-height: 50px;
	padding: 0px;
}


