/*STYLES FOR UX PORTFOLIO*/

#uiux {

    img {
        width: 100%;
    }

    .content {
        padding: 0px 15px;
        margin: auto;
        hr {
            border-color: #bfbfbf;
            border-width: 1px;
            max-width: none;
            margin: 0px 0px;
            border-top: 1px solid #8c8b8b;
        }
        h2 {
            margin-bottom: 0px;
        }
        p {
            letter-spacing: 0.8px;
            line-height: 1.9;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
}